/*RESET*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0
}



/* Remove default margin in favour of better control in authored CSS */
body,
header,
main,
footer,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}


/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/*----------- Layout ----------*/

body {
    display: grid;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-template-rows: auto auto auto;
    /* Definierar tre rader: en för header, en för main, en för footer */

    grid-template-columns: 1fr;
    /* Definierar tre kolumner */

    grid-template-areas:
        "header"
        "main"
        "footer";

    font-family: "Forum", serif;
    font-style: normal;

}

header {
    grid-area: header;
}

.main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*  ---  Färg-teman  --  */

/*  Färger för <body>   */
body.standard-light {
    background-color: rgb(246, 243, 245);
}

/*//////////////////////////////////////////////////////////*/


/*  --------  Header  ----------  */

header {
    width: 100%;
}

header .inner-header {
    display: grid;

    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
        "nav logo icons";
    align-items: center;

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.3s ease;
    z-index: 10;

    width: 95%;
    max-width: 900px;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    padding-inline: 1.5rem;

    border-radius: 40px;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.inner-header.green {
    background-color: rgb(240, 242, 243);
    border: 2px solid rgb(48, 56, 58);
    color: rgb(97, 112, 116);

}

.inner-header.muave {
    background-color: rgb(249, 249, 250);
    border: 2px solid rgb(115, 88, 105);
    color: rgb(115, 88, 105);

}

/* ...... Navigering .........*/

/* Grundlayout */
nav {
    grid-area: nav;

    display: flex;
    justify-content: center;
    justify-self: start;
    align-items: center;
    position: relative;
    bottom: 2px;
}

/* Menyikon */
.menu-icon {
    display: inline-block;
    cursor: pointer;
    z-index: 20;
    justify-self: center;
}


.menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px;
    border-radius: 6px;
    transition: 0.3s;
}

.inner-header.green .menu-icon span {
    background-color: rgb(69, 80, 83);

}

/* Hovereffekt */
.inner-header.green .menu-icon:hover span {
    background-color: rgb(97, 112, 116);
}

.inner-header.muave .menu-icon span {
    background-color: rgb(89, 68, 80);

}

/* Hovereffekt */
.inner-header.muave .menu-icon:hover span {
    background-color: rgb(115, 88, 105);
}

/* Menyn (mobil som standard) */
.navbar .menu {
    display: none;
    position: absolute;
    left: 0.5rem;
    top: 2rem;
    flex-direction: column;

    border-radius: 20px;
    padding: 0.8rem 1rem;
    list-style: none;
    z-index: 10;
    font-size: clamp(1.2rem, 1vw, 1.2rem);
    cursor: pointer;
}

.inner-header.green .navbar .menu {
    background-color: rgb(240, 242, 243);
    color: rgb(48, 56, 58);
    border: 2px solid rgb(69, 80, 83);
}


.inner-header.muave .navbar .menu {
    background-color: rgb(249, 249, 250);
    color: rgb(89, 68, 80);
    border: 2px solid rgb(115, 88, 105);
}

/* Döljer checkbox */
.menu-toggle {
    display: none;
}

/* Visa menyn när checkboxen är ikryssad */
.menu-toggle:checked~.navbar .menu {
    display: flex;
}

/* Länkar */
.menu a {
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: nowrap;
    cursor: pointer;
}

.inner-header.green .menu a {
    color: rgb(48, 56, 58);
}

.inner-header.green .menu a:hover {
    color: rgb(69, 80, 83);
    text-decoration: underline;
}

.inner-header.muave .menu a {
    color: rgb(89, 68, 80);
}

.inner-header.muave .menu a:hover {
    color: rgb(115, 88, 105);
    text-decoration: underline;
}

/* Aktiv länk */
.menu a.active {
    font-weight: 600;
    cursor: default;
}

.hide2 {
    display: none;
}

/* Undermeny  */
.submenu {
    display: none;
}

/*Logotype*/
.logo-container {
    grid-area: logo;

    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 11em;
    height: auto;
    display: block;
}



/* ....Nav-iconer ...*/
.icons-container {
    grid-area: icons;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    column-gap: 10px;
}

svg.icons {
    cursor: pointer;
    width: 1.8em;
    height: 1.8em;
    transition: color 0.2s;
}

.inner-header.muave svg.icons {
    fill: rgb(89, 68, 80);
}

.inner-header.green svg.icons {
    fill: rgb(69, 80, 83);
}

.inner-header.muave svg.icons:hover {
    fill: rgb(115, 88, 105);
}

.inner-header.green svg.icons:hover {
    fill: rgb(97, 112, 116);
}

.calender {
    display: none;
}

/*/////////////////////////////////////////////////////*/


/*  .... Standard-blocks för <main> ... */


.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    margin: 0 auto;
    width: 100%;
}

.main .standard-content-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    margin: 0 auto;
    width: 100%;
}

/* Flex kolumn  */
.flex-column-content-block {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* Bild med text över  */
.text-ontop {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 5;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-ontop picture {
    flex-shrink: 0;
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
    inset: 0;
}

.text-ontop video,
.text-ontop img {
    inset: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;

}


/* Innehållet ovanpå bilden */
.text-ontop .text-ontop-content {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    text-align: center;
}

.text-ontop-content.the-green,
.hero-img-text-section.the-green {
    background-color: rgb(146, 160, 164);
    color: rgb(60, 69, 72);
}

.text-ontop-content .monogram {
    display: flex;
    justify-content: center;
    align-items: center;

}


.text-ontop-content .monogram.hero img,
.hero-img-text-section .monogram.hero img {
    display: block;
    width: 10em;
    height: auto;
    position: relative;

}

/*  - Bild vänster - text höger sektion - */

.hero-img-text-section {
    display: none;
    grid-template-columns: 1fr;
    grid-template-areas:
        "hero-img"
        "hero-text";
    align-items: center;
    /* centrera vertikalt */
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
}


.hero-img-text-section .hero-img-container {
    grid-area: hero-img;
    width: 100%;
    aspect-ratio: 4 / 5;
    position: relative;
}

.hero-img-container img {
    width: 100%;
    height: auto;
    position: relative;
}

.hero-img-text-section .hero-text-container {
    grid-area: hero-text;
    max-width: min(50ch, 65vw);
    margin-left: auto;
    margin-right: auto;
}



/*//////////////////////////////////////////////*/

/*  Standard-light-bakgrund  */
.bgcolor-standard-light {
    background-color: rgb(246, 243, 245);
}

/* .. Kombinera med en textfärg:  ..   */

/* Green  */
.bgcolor-standard-light.color-darkest-green {
    color: rgb(48, 56, 58);
}

/*  Muave  */
.bgcolor-standard-light.color-darkest-muave {
    color: rgb(89, 68, 80);
}

/*  ... Färger för content-block   .... */

.darkest-green {
    background-color: rgb(69, 80, 83);
    color: rgb(238, 238, 240);
}

.the-muave {
    background-color: rgb(195, 177, 188);
    color: rgb(89, 68, 80);
}

/* ... Karusell med manuella knappar ... */
.carousel {
    position: relative;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel .slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.carousel .slides picture {
    flex-shrink: 0;
    width: 100%;
    display: block;
}

.carousel .slides img {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Knappar för bildspel  */
button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.4);
    border: none;
    font-size: 2rem;
    color: rgb(89, 68, 80);
    cursor: pointer;
    padding: 0.3em 0.6em;
    border-radius: 50%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}


/*  Monogram i text-block  */
.monogram {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.monogram.hero img {
    width: 10em;
    height: auto;
}

.monogram img {
    width: 8em;
    height: auto;
}


/*///////////////////////////////////////////////*/

/*   Typografi   */

article {
    max-width: min(65ch, 80vw);
    margin-bottom: 30px;
}

section {
    padding-inline: clamp(1rem, 8vw, 10rem);
}

h1,
h2,
h3,
h4,
p.citat,
p.under-headline {
    font-family: "Tangerine";
    font-weight: normal;
    text-align: center;
}

h1 {
    margin-top: 15px;
    margin-bottom: 20px;
}

h1.hero {
    font-size: clamp(3.1rem, 8vw, 7rem);
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1;
}

h2 {
    font-size: clamp(2.5rem, 3.5vw + 1rem, 3rem);
    margin-bottom: 15px;
}


/*////////////////////////////////////////////////////////////*/

@media screen and (min-width: 450px) {

    /* ....Nav-iconer ...*/
    .calender {
        display: inline;
    }
}

@media screen and (min-width: 550px) {
    .text-ontop {
        aspect-ratio: 1 / 1;
    }
}

@media screen and (min-width: 740px) {


    header .inner-header {
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas: "logo nav icons";

        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    /*  Navigering  */
    nav {
        justify-self: center;
        position: relative;
        bottom: 0px;
    }

    .menu-icon {
        display: none;
    }

    .navbar .menu {
        display: flex !important;
        flex-direction: row;
        gap: 2rem;
        background: none;
        border: none;
        padding: 0;
        position: relative;
        top: 10px;
    }

    header .inner-header.green .navbar .menu {

        color: rgb(69, 80, 83);
        border: none;
    }

    header .inner-header.muave .navbar .menu {
        background-color: rgb(249, 249, 250);
        color: rgb(89, 68, 80);
        border: none;
    }

    .logo-container {
        justify-content: center;
        justify-self: start;
        padding-left: 1.3rem;
    }

    .icons-container {
        justify-content: flex-end;
        gap: 15px;
        padding-right: 1.5rem;
    }

    /*  Undermenyer  */

    .navbar .menu .has-submenu {
        position: relative;
        /* så att undermenyn kan positioneras i förhållande till den */
    }

    header .inner-header.green .submenu {
        background-color: rgb(240, 242, 243);
        border: 2px solid rgb(69, 80, 83);
        color: rgb(48, 56, 58);
    }

    header .inner-header.muave .submenu {
        background-color: rgb(249, 249, 250);
        color: rgb(89, 68, 80);
        border: 2px solid rgb(115, 88, 105);
    }

    .navbar .menu .submenu {
        display: none;
        position: absolute;
        top: 100%;
        /* direkt under övermenyn*/
        left: 0;

        border-radius: 10px;
        padding: 0.5rem 1rem;
        list-style: none;
        min-width: 150px;
        z-index: 10;
        font-size: clamp(1.1rem, 1.5vw, 1.3rem);
    }

    .navbar .menu .submenu li {
        margin-bottom: 0;
    }


    .navbar .menu .submenu a {
        text-decoration: none;
        transition: color 0.3s ease;
        white-space: nowrap;
    }

    header .inner-header.green .submenu a {
        color: rgb(48, 56, 58);
        ;
    }

    header .inner-header.green .submenu a:hover {
        color: rgb(69, 80, 83);
        text-decoration: underline;

    }

    /* Visa undermeny vid hover */
    .navbar .menu .has-submenu:hover .submenu {
        display: block;
    }

    .hide1 {
        display: none;
    }

    .hide2 {
        display: block;
    }

    .text-ontop {
        display: none;
    }

    .hero-img-text-section {
        display: grid;
    }

    /*   Bild-text sektion */

    .hero-img-text-section {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "hero-img hero-text";
    }

    .block-wrapper .hero-img-text-section {
        margin-top: 0px;
    }

    .flex-column-content-block {
        padding-top: 4rem;
    }
}

@media screen and (min-width: 1100px) {


    .hero-img-text-section .hero-img-container {
        aspect-ratio: 1 / 1;
    }
}