/*  ......  Formulär  ..... */

/*  Layout  */

form {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    /* centrerar hela griden */
    justify-items: center;
    justify-self: center;
    align-items: start;
    margin: 0 auto;

    width: min(100%, 450px);

    padding-inline: clamp(1rem, 4vw, 2rem);
    padding-top: 1rem;
    padding-bottom: 1rem;

    box-sizing: border-box;
    font-family: inherit;
    letter-spacing: 0.04em;
}


form,
fieldset,
.fieldset-item,
.field-item,
input {
    max-width: 100%;

}

input,
button,
textarea,
select {
    font-family: "Inter", sans-serif;

}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    justify-content: center;
    align-items: start;
    margin: 0 auto;
    box-sizing: border-box;
    column-gap: 1rem;

    width: 90%;
    max-width: 370px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-top: 10px;
    margin-bottom: 0px;

    border-left: none;
    Border-right: none;
    border-bottom: none;


}

form.dark-green fieldset.last {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(97, 112, 116);
    padding-bottom: 2rem;
}

form.dark-muave fieldset.last {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(144, 110, 131);
    padding-bottom: 2rem;

}

form.dark-green fieldset,
fieldset.last {
    border-top: 1px solid rgb(69, 80, 83);
}

form.dark-muave fieldset,
fieldset.last {
    border-top: 1px solid rgb(144, 110, 131);
}

.span-2 {
    grid-column: 1 / -1;
    width: 100%;
    max-width: 330px;
}

.fieldset-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}


.field-item {
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 1.5rem;
}


form input,
select {
    width: 15ch;
    /* ta hela radens bredd */
    min-width: 8rem;
    max-width: 100%;
    /* undvik att de blir för smala */
    box-sizing: border-box;
    /* inkludera padding i total*/

    border-radius: 10px;
    padding: 0.4rem;
    margin-left: 0px;
    margin-top: 8px;

}


/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}


form.dark-green :is(input,
    select,
    textarea) {
    background-color: rgb(243, 245, 245);
    border: 1px solid rgb(97, 112, 116);
}


form.dark-muave :is(input,
    select,
    textarea) {
    background-color: rgb(241, 237, 240);
    border: 1px solid rgb(144, 110, 131);
}

form textarea {
    box-sizing: border-box;
    /* inkludera padding i total*/
    min-width: 15ch;

    width: 100%;
    height: 8rem;
    border-radius: 10px;
    padding: 0.4rem;
    margin-left: 0px;
    margin-top: 8px;
}


/*  Kanpp för formulär  */

button[type="submit"] {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 10px 15px;


    border-radius: 40px;

    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.04em;
}


form.dark-green button[type="submit"] {
    background-color: rgb(243, 245, 245);
    color: rgb(69, 80, 83);
    border: 2px solid rgb(97, 112, 116);
}


form.dark-muave button[type="submit"] {
    background-color: rgb(241, 237, 240);
    color: rgb(89, 68, 80);
    border: 2px solid rgb(144, 110, 131);
}


form.dark-green button[type="submit"]:hover {
    background-color: rgb(219, 223, 221);
}

form.dark-muave button[type="submit"]:hover {
    background-color: rgb(219, 208, 215);
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"],
select {
    cursor: pointer;
}

form.dark-green :is(select:hover,
    input:hover,
    textarea:hover) {
    background-color: rgb(243, 245, 245);
}


form.dark-muave :is(select:hover,
    input:hover,
    textarea:hover) {
    background-color: rgb(232, 226, 230);
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"] {
    cursor: text;
}

form.dark-green :is(input[type="text"],
    input[type="password"],
    input[type="tel"],
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    select,
    textarea) {
    color: rgb(48, 56, 58);
    letter-spacing: 0.04em;
}

form.dark-muave :is(input[type="text"],
    input[type="password"],
    input[type="tel"],
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    select,
    textarea) {
    color: rgb(89, 68, 80);
    letter-spacing: 0.04em;
}


form.dark-green :is(input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="tel"]:focus,
    input[type="date"]:focus,
    input[type="time"]:focus,
    input[type="datetime-local"]:focus,
    input[type="month"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    select:focus,
    textarea:focus) {
    /* Tar bort webbläsarens standard-outline */
    outline: none;
    /* Lägger till skuggan */
    /* Syntax: horisontell-offset vertikal-offset oskärpa spridning färg */
    box-shadow: 0 0 10px rgb(97, 112, 116);
    /* Ändrar kantfärgen samtidigt för en tydligare effekt */
    border-color: rgb(97, 112, 116)
}


form.dark-muave :is(input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="tel"]:focus,
    input[type="date"]:focus,
    input[type="time"]:focus,
    input[type="datetime-local"]:focus,
    input[type="month"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    select:focus,
    textarea:focus) {
    /* Tar bort webbläsarens standard-outline */
    outline: none;
    /* Lägger till skuggan */
    /* Syntax: horisontell-offset vertikal-offset oskärpa spridning färg */
    box-shadow: 0 0 10px rgb(144, 110, 131);
    /* Ändrar kantfärgen samtidigt för en tydligare effekt */
    border-color: rgb(144, 110, 131)
}

form.dark-green :is(input,
    textarea::placeholder) {
    color: rgb(97, 112, 116);
    letter-spacing: 0.04em;
}

form.dark-muave :is(input,
    textarea::placeholder) {
    color: rgb(144, 110, 131);
    letter-spacing: 0.04em;
}

form .min-max-text {
    font-style: italic;
}

/* .... Custom checkbox och radio-knapp.... */

.checkbox-container,
.radio-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    user-select: none;

}

form.dark-green .checkbox-container,
form.dark-green .radio-container {
    color: rgb(48, 56, 58);
}


form.dark-muave .checkbox-container,
form.dark-muave .radio-container {
    color: rgb(89, 68, 80);
}


/* Dölj själva inputen men behåll klickbarheten */
.checkbox-container input,
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-bottom: 20px;
}

/* Själva rutan */
.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-5%);
    height: 1.2rem;
    width: 1.2rem;

    border-radius: 5px;
    transition: all 0.25s ease;
}

/* Själva rutan */
.radio-checkmark {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 40px;
    transition: all 0.25s ease;
}

form.dark-green .checkmark,
form.dark-green .radio-checkmark {
    background-color: rgb(238, 238, 240);
    border: 1px solid rgb(97, 112, 116);
}

form.dark-muave .checkmark,
form.dark-green .radio-checkmark {
    background-color: rgb(246, 243, 245);
    border: 1px solid rgb(115, 88, 105);
}

/* Hover-effekt */
form.dark-green .checkbox-container:hover .checkmark,
form.dark-muave .checkbox-container:hover .checkmark,
form.dark-green .radio-container:hover .radio-checkmark,
form.dark-muave .radio-container:hover .radio-checkmark {
    background-color: rgb(243, 245, 245);
}



/* När den är markerad */
form.dark-green .checkbox-container input:checked~.checkmark,
form.dark-green .radio-container input:checked~.radio-checkmark {
    background-color: rgb(97, 112, 116);
    border-color: rgb(97, 112, 116);
}



form.dark-muave .checkbox-container input:checked~.checkmark,
form.dark-muave .radio-container input:checked~.checkmark {
    background-color: rgb(144, 110, 131);
    border-color: rgb(115, 88, 105);
}

/* Den lilla bocken */
.checkmark::after,
.radio-checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

/* Visa bocken när den är markerad */
.checkbox-container input:checked~.checkmark::after,
.radio-container input:checked~.radio-checkmark::after {
    display: block;
}

/* Bockens stil */
.checkbox-container .checkmark::after,
.radio-container .radio-checkmark::after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: all 0.25s ease;
}


/*  ----------------------  */
/* ... Sub-menu kommer fram vid inmatning av annat fält ...  */

/*formulär på "boende"-sidan */

/* Göm fältet som standard */
.hidden {
    display: none;
}

/* Mjuk övergång när det visas */
#restaurant-booking-fields {
    margin-top: 10px;
    transition: opacity 0.3s ease;
}


/*formulär på "Mat och dryck"-sidan */

/* Göm fältet som standard */
.radio-hidden {
    display: none;
}

/* Mjuk övergång när det visas */
#choose-meal-fields {
    margin-top: 10px;
    transition: opacity 0.3s ease;
}

/* ----------------------------------*/
/* .... Rubriker och labels ... */


.label-display-block {
    font-weight: 500;
    display: block;
}

form.dark-green :is(.label-display-block, label, h2) {
    color: rgb(48, 56, 58);
}

form.dark-muave :is(.label-display-block, label, h2) {
    color: rgb(89, 68, 80);
}

form .label-terms-crossbox {
    font-style: italic;
    line-height: 1.2;
}

form .label-terms-crossbox a {
    text-decoration: none;
}

p.form-text {
    font-weight: 500;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0px;
}

form.dark-muave p.form-text {
    color: rgb(89, 68, 80);
}

p.margin-top {
    margin-top: 40px;
}

p.margin-right {
    margin-right: 4rem;
}

form h2 {
    margin-top: 40px;
    margin-bottom: 5px;
}

/*//////////////////////////////////////////////*/

@media screen and (min-width: 740px) {
    .field-item {
        flex: 1;
        /* lika bredd på båda fälten */
    }
}

/*//////////////////////////////////////////////*/

@media screen and (min-width: 740px) {
    form.small {
        width: 40vw;
        margin: 0;
        padding: 0;
    }
}